*{
    margin:80;
    padding:0%;
}
h1{
    text-align: center;
    background-color: aliceblue;
}
p {
    text-align:center;
}
.menu{
width:80%;
height:80uv;
text-align:centre;
background-size: auto;
margin-left:auto;
margin-right:auto;
}
.list{
    width:80%;
    height:80uv;
    background-size: auto;
    background: size 13px;
    background-color: brown;
    margin-left:auto;
    margin-right:auto;
    word: spacing 30;
    table-layout: fixed;
}
