*{
    margin:80;
    padding:0%;
}
h1{
    text-align: center;
    background-color: aliceblue;
}
p {
    text-align:center;
}
.menu{
width:80%;
height:80uv;
text-align:centre;
background-size: auto;

